<mat-card>
    <h1>Update book</h1>
    <form #bookForm = "ngForm" (ngSubmit) = "onRegister()" >

        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label class = "control-label">Title</mat-label>
              <input matInput
              [(ngModel)] = "title"
                name = title
                required>
            </mat-form-field>
            
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Author</mat-label>
              <input matInput
              [(ngModel)] = "author"
                name = "author">
            </mat-form-field>
          </div>
        <div>
           <button mat-raised-button color="primary">Update</button>
        </div>
    </form>
</mat-card>
