<p *ngIf = "!(data)&&!hasError"> Loading data..</p>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar >
      <img src="{{data.image}}">
    </div>
    <mat-card-title *ngIf = "!hasError">Temperatures in {{data.name}} is {{data.temperature}} <br> This country is: {{data.country}} <br>
      This lat is {{data.lat}} <br> This longtitude is: {{data.lon}}
    </mat-card-title>
    <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>

    <a routerLink="/city" routerLinkActive="active">Select city</a>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
