<mat-card>
    <h1>Register Form</h1>
    <form #registerForm = "ngForm" (ngSubmit) = "onRegister()" >

        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label class = "control-label">Email</mat-label>
              <input matInput
              [(ngModel)] = email
                name = email
                required>
            </mat-form-field>
            
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput
              [(ngModel)] = password
                name = password>
            </mat-form-field>
          </div>
        <div>
           <button [disabled] = "!registerForm.form.valid"  type = "submit" mat-raised-button color="primary">Register</button>
        </div>
    </form>
    <div *ngIf ="hasError" class="error">
      {{errorMessage}}
    </div>
</mat-card>


